:root {
  /* Branding */
  --primary: #10B981;   /* Verde agua GYM */
  --secondary: #7C3AED; /* Morado mancuerna */
  --accent: #F97316;    /* Naranja HEALTH */

  /* Fondo y texto */
  --bg: #0B0D12;
  --surface: #1E293B;
  --line: #334155;

  --text: #F1F5F9;
  --muted: #94A3B8;

  /* Estados */
  --success: #22C55E;
  --danger: #EF4444;
  --warning: #EAB308;
}
